.column {
    float:left;
    width: 33.33%;
    
}

.row {
    margin-top: 40px;
    margin-bottom: 110px;
    margin-left: 300px;
    margin-right: 200px;
  }

  h1 {

    text-align: center;
    color: rgb(197, 15, 15);  
}


p {
    color: rgb(0, 0, 0);
   
  margin-left: 15px;
  margin-right: 115px;
  margin-bottom: 40px;
  text-align: justify;
  
}

 .Photo  {

    margin-top: 10px;
    color:rgb(11, 135, 236);
    margin-left: 15px;
    
}


