.column {
    float:left;
    width: 33.33%;
    height: 52%;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 300px;
  }

  h1 {

    text-align: center;
    color: rgb(197, 15, 15);  
    font-size: 20px;
}


p {
    color: rgb(0, 0, 0);
   
  margin-left: 15px;
  margin-right: 65px;
  
  
  text-align: justify;
  
}

 .Photo  {

    margin-top: 10px;
    color:rgb(11, 135, 236);
    margin-left: 15px;
    
}


